.grid {
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol",Arial;
    padding: 15px;
	table {
		/*table-layout: fixed;*/
		/*width: 0;*/
		border-collapse: collapse;
		/*border-spacing: 0;*/
		border: 1px solid #e3e3e3;
		/*position: relative;*/
		width: 100%;
	}

	thead {
		background-color: #69c8c8;
		/*padding: 10px 0;*/
	}

	th {
		font-size: 16px;
		/*text-transform: none;*/
		/*color: #2f3538;*/
		/*font-weight: normal;*/
		font-weight: bold;
		height: 43px;
		padding: 0;
		position: relative;
		/*border-width: 1px 0 0 1px;*/
		border-right: 1px dotted #78c3c3;
		/*border-left: 1px dotted #fff;*/
	}

	td {
		padding: 18px 10px;
		/*border-bottom: 1px solid #d4d4d4;*/
		border: 1px solid #e3e3e3;
		font-size: 14px;
	}

	.filterMenu{
		position: absolute;
		right: 0px;
		overflow: auto;
		border-radius: 5px;
		background-color: #2f3538;
		color: #fff;
		font-size: 12px;
		font-weight: normal;
		height: 282px;
		width: 220px;

		.ok{
			position: absolute;
			bottom: 0px;
			height: 30px;
			background: #7ddddd;
			color: black;
			width: 90px;
			line-height: 30px;
			margin-bottom: 10px;
			margin-top: 10px;
			margin-left: 10px;
		}

		.serach{
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}

	.filterIcon{
		position: absolute;
		top: 11px;
		right: 15px;
	}
}

.checkBoxList{
	height: 179px;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    label{
    	display: block;
    }
}